*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#gameArea{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    width: 380px;
    height: 380px;
    background-color: grey;
    color: white;
}

.cell{
    border-color: #084C61;
    border-style: outset;
    background-color: #4F6D7A;
    width: 38px;
    height: 38px;
}

.bomb{
    background-image: url("");
    background-color: #DB504A;
    border-color: #084C61;
    border-style: outset;
    width: 38px;
    height: 38px;
}