* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    color: grey;
    scroll-behavior: smooth;
}

#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px;
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color:#ffb5a7;
    color: white;
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px;
    font-size: 18px; 
    height: 55px;
    -webkit-box-shadow: 10px 10px 27px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 27px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 27px 0px rgba(0,0,0,0.75)
}
  
#myBtn:hover {
    background-color: #555;
}

.navbar-brand{
    filter: brightness(1%);
    margin-left: 5vw;
    
}
.nav-links{
    display: flex;
    justify-content: space-evenly;
    width: 80vw;
}
.navbar-custom{
    background-color:#ffb5a7;
}

.jumbotron-edit{
    background-image: url(./davies-designs-studio-_UCVrH-ZIIg-unsplash.jpg);
    background-size: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #F8EDEB;
}

.container header{
    display: flex;
}

.name-underline{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: 25px;
    color: black;

}
.underline{
    display: flex;
    background-color: none;
    width: 400px;
    margin-bottom: 50px;
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(1%, transparent) , to(rgba(250, 250, 250, 0.1)));
}

.lead{
    color: black;

}
.image-of-shweta{
    width: 350px;
    filter: grayscale(1);
    border-radius: 1%;
    -webkit-box-shadow: 10px 10px 27px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 27px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 27px 0px rgba(0,0,0,0.75)
}
.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    margin-bottom: 0px;
}

#section-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: auto;
}

#fun-facts-button{
    border: none;
    width: 10rem;
}

.fun-facts-button-border{
    display: flex;
    justify-content: center;
    background-color: white;
    width: 100%;
    outline: none !important;
    border: none;
}
h4 {  
    text-align: center;
    word-wrap: normal;
    width: 100%;
    font-family: 'Dancing Script', cursive;
}
.fun-facts{
    padding: 10px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    border: 2px solid grey;
    width: 50vw;
    height: fit-content;
    border-radius: 5px;
    -webkit-box-shadow: 10px 10px 27px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 27px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 27px 0px rgba(0,0,0,0.75)
}

.fun-facts-list{
    margin-left: 2px;
    color: solid black;
}

.about{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: auto;
    font-size: 16pt;
}

.about-me-text{
    padding: 15px;
    font-size: 14pt;
}
#timeline {
    background-color: #F8EDEB;
    height: fit-content;
    padding-top: 32px;
}

.list-unstyled p{
    font-size: large;
}
.list-unstyled:before, .list-unstyled:after {
    content: "";
    background: #F8EDEB;
    width: 5px;
    height: 60px;
    position: absolute;
    z-index: 2;
}

.list-unstyled:before {
    margin: 0 0 0 -1px;

}

.list-unstyled:after {
    margin: -60px 0 0 -1px;

}

.timeline-list {
    border: 2px solid;
    border-color:#ffb5a7ff !important;
    margin:0 0 -2px 0; 
    padding: 30px;
    counter-increment: li;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
}

.timeline-list:nth-child(odd):before, .timeline-list:nth-child(even):before {
    content: counter(li);
    display: flex;
    -ms-flex-pack: center!important;
    justify-content: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
    
    position: absolute;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color:#ffb5a7ff;
    color: white;
    font-weight: bold;
    z-index: 3;
}

.timeline-list:nth-child(odd):before {
    right: 100%; 
    margin-right: -20px;
}

.timeline-list:nth-child(even):before {
    left: 100%;
    margin-left: -20px;
}

.timeline-list:nth-child(odd) {
    border-right: none;
    border-left: 2px solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 30px;
    padding-right: 0;
}

.timeline-list:nth-child(even) {
    border-left: none;
    border-right: 2px solid;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 30px; 
    padding-left: 0;
    text-align: right;
}

.timeline-list:first-child {
    border-top: none;
    border-top-right-radius:0;
    border-top-left-radius:0;
}

.timeline-list:last-child {
    border-bottom: none;
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
}

.trello-link{
    filter: brightness(70%);  
}


#java-game{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: solid grey;
    width: 80vw;
    height: 80vh;
    margin-top: 32px;
    margin-bottom: 25px;
    padding: 0px;
}

.game-image{
    width: 50vw;
    height: 50vh;
}
#footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffb5a7ff;
    width: 100vw;
    height: 300px;
    color: grey;
}
.contact-icons{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 50vw;
    margin: 25px;
}

.contact-icons svg{
    color: grey;
}

/* CSS HEX */
/* --melon: #ffb5a7ff;
--pale-pink: #fcd5ceff;
--isabelline: #f8edebff;
--peach-puff: #f9dcc4ff;
--peach-crayola: #fec89aff; */
