* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;;
}

.nav-links{
    display: flex;
    justify-content: space-evenly;
    color: #F8EDEB;
    width: 100vw;
}
.image-of-shweta{
    width: 400px;
    filter: grayscale(1);
    -webkit-box-shadow: 10px 10px 27px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 27px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 27px 0px rgba(0,0,0,0.75)
}
.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
}

#timeline {
    background-color:#Fff;
}

.list-unstyled:before, .list-unstyled:after {
    content: "";
    background: #fff;
    width: 5px;
    height: 60px;
    position: absolute;
    z-index: 2;
}

.list-unstyled:before {
    margin: 0 0 0 -1px;
}

.list-unstyled:after {
    margin: -50px 0 0 -1px;
}

.timeline-list {
    border: 2px solid;
    border-color:#ffb5a7ff !important;
    margin:0 0 -2px 0; 
    padding: 30px;
    counter-increment: li;
    position: relative;
}

.timeline-list:nth-child(odd):before, .timeline-list:nth-child(even):before {
    content: counter(li);
    display: flex;
    -ms-flex-pack: center!important;
    justify-content: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
    
    position: absolute;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color:#ffb5a7ff;
    color: white;
    font-weight: bold;
    z-index: 3;
}

.timeline-list:nth-child(odd):before {
    right: 100%; 
    margin-right: -20px;
}

.timeline-list:nth-child(even):before {
    left: 100%;
    margin-left: -20px;
}

.timeline-list:nth-child(odd) {
    border-right: none;
    border-left: 2px solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 30px;
    padding-right: 0;
}

.timeline-list:nth-child(even) {
    border-left: none;
    border-right: 2px solid;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 30px; 
    padding-left: 0;
    text-align: right;
}

.timeline-list:first-child {
    border-top: none;
    border-top-right-radius:0;
    border-top-left-radius:0;
}

.timeline-list:last-child {
    border-bottom: none;
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
}


  


/* CSS HEX */
--melon: #ffb5a7ff;
--pale-pink: #fcd5ceff;
--isabelline: #f8edebff;
--peach-puff: #f9dcc4ff;
--peach-crayola: #fec89aff;